.App {
  min-height: 100vh;
  max-width: 960px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 0 auto;

}

.App-header {
  width: 100%;
}

.App-header__title {
  font-family: Roboto Condensed, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}
