.gallery {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: flex-start;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  background: black;
  object-fit: contain;
  cursor: pointer;

}

.gallery__loading {
  margin: 0 auto;
  font-size: 30px;
}

@media screen and (min-width: 500px) {
  .gallery {
    flex-flow: row wrap;
    width: 100%;
  }

  .img {
    width: auto;
  }
}
