.gallery {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: flex-start;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.img {
  /*max-width: 100%;*/
  width: 100%;
  height: auto;
  /*flex: 1 1;*/
  /*height: 150px;*/
  margin-bottom: 30px;
  background: black;
  object-fit: contain;

}

@media screen and (min-width: 500px) {
  .gallery {
    flex-flow: row wrap;
    padding: 20px;
    width: 100%;
  }

  .img {
    /*margin: 20px;*/
    width: auto;
  }
}
