.footer {
  height: 56px;
  width: calc(100vw - 40px);
  position: relative;
  left: calc(-50vw + 50% + 20px);
  border-top: 1px solid #ccc;
  text-align: center;
}

.footer-copyright {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 56px;
  color: #ccc;
}
